@charset "utf-8";
/*
	IDs.
*/
#header {
	text-align: center;
}
#menu {
	float: left;
	width: 19%;
}
#content {
	float: right;
	width: 80%;
}
#tabela_login, td, th {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-collapse:collapse;
	margin: auto;
	width: 500px;
}

/*
	Classes.
*/
.error_message {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F00;
	text-align:center;
}
.bottom_row {
	text-align: center;
}
.evenrow {
	background-color: #FFF;
}
.oddrow {
	background-color: #CCC;
}
.content_table {
	width: 100%;	
}
.content_table, th, td {
	border: solid 1px;
	border-collapse:collapse;
	text-align:center;
}
.op_ativa {
	background-color: #F33;
}
.op_terminada {
	background-color: #3C6;
}
.op_aguardando {
	background-color: #FF0;
}

/*
	Tags.
*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a:link, a:visited {
	text-decoration: underline;
	color: #06F;
}
.apresentacao_maior {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
}
.apresentacao_menor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
#estoque {
	text-align: center;
	vertical-align: middle;
	position: absolute;
	width: 300px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	left: 50%;
	margin-left: -150px;
}
#pcp {
	text-align: center;
	vertical-align: middle;
	position: absolute;
	width: 300px;
	top: 33%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	margin-left: -150px;
	left: 50%;
}
#administracao {
	text-align: center;
	vertical-align: middle;
	position: absolute;
	width: 300px;
	top: 66%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	left: 50%;
	margin-left: -150px;
}



























































